<h2>Liste des chantiers</h2>

<table border="1">
    <thead>
        <tr>
            <th>Type</th>
            <th>Commune</th>
            <th>Surface</th>
            <th>Société</th>
            <th>Date création</th>
            <th>Important</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for c in chantiers %}
        <tr>
            <td>{{ c.type_chantier.libelle }}</td>
            <td>{{ c.id_insee}}</td>
            <td>{{ c.surface }}</td>
            <td>{{ c.societe.libelle }}</td>
            <td>{{ c.important|yesno:"Oui,Non" }}</td>
  
        </tr>
        {% empty %}
        <tr>
            <td colspan="7">Aucun chantier disponible.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<a href="{% url 'ajouter_chantier' %}">
    <button>Ajouter un nouveau chantier</button>
</a>
